* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #12324a;
    color: white;

    margin: 0 auto;
    width: 80%;

    /* Desse jeito vai acontecer overflow com o conteúdo em telas pequenas */
    /* height: 300px; */

    /* OBS.: Lembra que sem css o site É responsivo??
        Se vc coloca um heigth o container MUST have o tamanho que vc definiu, e se o tamanho q vc definiu simplesmente n funciona para o conteúdo que está dentro dele, o css vai fazer com q esse conteúdo n se perca e apareça ( msm da forma q vc n quer hehe) */

    /* Ok, mas se eu quiser esse conteúdo ocupando tal altura pq eu quero mais desse background? */
    padding: 5em; /* 16 * 5 = 80px */
}